.layout__grid {
  display: grid;
  grid-template-columns: minmax(0.5em, 1fr) repeat(12, [col-start] minmax(0, 64px) [col-end]) minmax(0.5em, 1fr);
  grid-column-gap: 1em;
}

.layout__grid--receipe {
  grid-template-rows: 6em auto auto auto;

  .layout__header {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .layout__ingredients {
    background-color: $color__highlight;
    grid-column-start: 10;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
  }

  .layout__text {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 5;
  }
}