.receipe__header {
  position: relative;
}

.receipe__header-content {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.receipe__roof {
  text-transform: uppercase;
  font-family: "adelle-sans",sans-serif;
  font-size: 1rem;
}