---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {%- if page.image -%}
    <img src="{{ page.image }}" alt="{{ page.title }}" />
  {%- endif -%}

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  {%- if page.servings -%}
  <span>Portionen: {{ page.servings }}</span>
  {%- endif -%}

  <div>
    {%- if page.ingredients -%}
      <ul>
        {%- for ingredient in page.ingredients -%}
        <li>{{ ingredient }}</li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
