---
layout: default
---
<article class="post h-entry layout__grid layout__grid--receipe" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="layout__header receipe__header">
    {%- if page.image -%}
      <img src="{{ page.image }}" alt="{{ page.title }}" class="layout__image" />
    {%- endif -%}
    <div class="receipe__header-content">

      {%- if page.tags -%}
      <h2 class="receipe__roof">{{ page.tags | first }}</h2>
      {%- endif -%}
    <h1 class="post-title p-name receipe__headline" itemprop="name headline">{{ page.title | escape }}</h1>

    </div>
  </header>

  {%- if page.servings -%}
  <span>Portionen: {{ page.servings }}</span>
  {%- endif -%}

  <div class="layout__ingredients ingredients" style="background-color: #{{ page.color }}">
    {%- if page.ingredients -%}
      <h2>Zutaten</h2>
      <ul>
        {%- for ingredient in page.ingredients -%}
        <li>{{ ingredient }}</li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>

  <div class="layout__text e-content text" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
